.intro {
	position: relative;
	// .intro__bg
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	// .intro__container
	&__container {
		padding: 186px 15px 141px 15px;
		position: relative;
		z-index: 5;
		@media (max-width: $md1+px) {
			padding: 132px 15px 0px 15px;
		}
		@media (max-width: $md4+px) {
			padding: 144px 15px 0px 15px;
		}
	}
	// .intro__image
	&__image {
		img {
			object-fit: contain;
		}
		@media (min-width: $md1+px) {
			position: absolute;
			right: 0;
			bottom: 0;
			transform: translate(17.5%, 0px);
			width: math.div(525, 1200) * 100%;
			padding: 0px 0px 65% 0px;
		}
		@media (max-width: $md1+px) {
			width: 100%;
			padding: 0px 0px 122% 0px;
		}
		@media (max-width: $md3+px) {
			width: 70%;
			padding: 0px 0px 85% 0px;
			margin: 0px auto;
		}
		@media (max-width: $md4+px) {
			width: 89%;
			padding: 0px 0px 109% 0px;
			margin: 0px auto;
		}
	}
	// .intro__master
	&__master {
	}
	// .intro__title
	&__title {
		@include adaptiv-value("padding-top", 68, 30, 1);
		max-width: 750px;
		margin: 0px 0px 21px 0px;
		span._accent {
			text-decoration: underline;
			-webkit-text-decoration-color: $greenColor; /* safari still uses vendor prefix */
			text-decoration-color: $greenColor;
			position: relative;
		}
		span._tooltip {
			position: absolute;
			right: 0px;
			top: 5px;
			width: 16px;
			height: 16px;
		}
		@media (max-width: $md2+px) {
			span._tooltip {
				width: 13px;
				height: 13px;
			}
		}
		@media (max-width: $md3+px) {
			span._tooltip {
				top: -2px;
			}
		}
		@media (max-width: $md3+px) {
			span._tooltip {
				top: -4px;
			}
		}
	}
	// .intro__subtitle
	&__subtitle {
		max-width: 720px;
		@include adaptiv-value("font-size", 32, 15, 1);
		line-height: 120%;
		letter-spacing: 0.03em;
		color: #717275;
		margin: 0px 0px 59px 0px;
		span._accent {
			color: $greenColor;
			position: relative;
			// &::after {
			// 	content: "";
			// 	position: absolute;
			// 	right: -10px;
			// 	top: 5px;
			// 	width: 13px;
			// 	height: 13px;
			// 	background: url("../img/tippy-light.png") no-repeat;
			// }
		}
		span._tooltip {
			position: absolute;
			right: 0px;
			top: 2px;
			width: 13px;
			height: 13px;
		}
		@media (max-width: $md2+px) {
			// span::after {
			// 	top: -5px;
			// }
			span._tooltip {
				top: -5px;
			}
		}
		@media (max-width: $md3+px) {
			text-align: center;
		}
		@media (max-width: $md4+px) {
			span._tooltip {
				top: -8px;
			}
		}
	}
	// .intro__pros
	&__pros {
		margin: 0px 0px 70px 0px;
		@media (max-width: $md1+px) {
			margin: 0px 0px 0px 0px;
		}
	}
	// .intro__case
	&__case {
		display: flex;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
		@media (max-width: $md3+px) {
			padding: 0px 0px 21px 0px;
		}
	}
	// .intro__left
	&__left {
		@media (max-width: $md1+px) {
			flex: 0 1 65%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		@media (max-width: $md3+px) {
			flex: 1 1 100%;
		}
		@media (max-width: $md3+px) {
			order: 2;
			border: 1px solid rgba(170, 170, 170, 0.5);
			border-radius: 7px;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, rgba(254, 255, 251, 0.1562) 100%);
			/* Если браузер поддерживает backdrop-filter */
			@supports ((-webkit-backdrop-filter: blur(22px)) or (backdrop-filter: blur(22px))) {
				background: rgba(255, 255, 255, 0.72);
				backdrop-filter: blur(22px);
			}
			padding: 21px 14px;
		}
	}
	// .intro__right
	&__right {
		@media (max-width: $md1+px) {
			flex: 0 1 35%;
			align-self: flex-end;
		}

		@media (max-width: $md3+px) {
			flex: 1 1 100%;
		}
		@media (max-width: $md3+px) {
			order: 1;
		}
	}
	// .intro__dream
	&__dream {
		font-weight: 700;
		@include adaptiv-value("font-size", 18, 12, 1);
		line-height: 118%;
		color: #717275;
		padding: 0px 0px 0px 53px;
		@include adaptiv-value("margin-bottom", 27, 18, 1);
		position: relative;
		span {
			color: $yellowColor;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 6px;
			width: 55px;
			height: 39px;
			background: url("../img/svg/curved-arrow.svg") 0 0 no-repeat;
		}
		@media (max-width: $md3+px) {
			padding: 0px 0px 0px 36px;
			&::before {
				left: -5px;
				top: 25px;
				transform: rotate(-46.89deg);
			}
		}
	}
	// .intro__count
	&__count {
		display: flex;
	}
	// .intro__button
	&__button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		@include adaptiv-value("padding-right", 67, 35, 1);
		@include adaptiv-value("padding-left", 67, 35, 1);
		background-color: $yellowColor;
		@include adaptiv-value("border-radius", 43, 24, 1);
		font-weight: 700;
		text-transform: uppercase;
		@include adaptiv-value("font-size", 20, 11, 1);
		color: #fffcee;
		line-height: 112%;
		@include adaptiv-value("height", 88, 49, 1);
		text-align: center;
		transition: all 0.3s ease 0s;
		margin: 0px 41px 0px 0px;
		box-shadow: 0 5px 0 #9c7423;
		top: 0;
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				background-color: #d6ac57;
			}
		}
		&:active {
			top: 3px;
			box-shadow: 0 2px 0 #9c7423;
		}
		@media (max-width: $md1+px) {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 0px auto;
		}
	}
	// .intro__points
	&__points {
		@include adaptiv-value("margin-bottom", 60, 21, 1);
	}
	// .intro__point
	&__point {
		font-size: 16px;
		line-height: 112%;
		color: #717275;
		position: relative;
		padding: 0px 0px 0px 18px;
		&:not(:last-child) {
			margin: 0px 0px 18px 0px;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 4px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			border: 2px solid $yellowColor;
		}
		@media (max-width: $md3+px) {
			font-size: 12px;
			padding: 0px 0px 0px 13px;
			&:not(:last-child) {
				margin: 0px 0px 7px 0px;
			}
			&::before {
				width: 6px;
				height: 6px;
			}
		}
	}
}
.master {
	position: absolute;
	left: 50%;
	transform: translate(-60%, 0px);
	bottom: 190px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media (max-width: $md1+px) {
		bottom: 20px;
	}
	@media (max-width: $md3+px) {
		@include adaptiv-value("bottom", 150, 20, 1);
	}
	// .master__name
	&__name {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiv-value("width", 215, 140, 1);
		@include adaptiv-value("height", 45, 29, 1);
		background: linear-gradient(136.27deg, #f3cd82 15.69%, #e0a93d 86.04%);
		@include adaptiv-value("border-radius", 7, 5, 1);
		font-weight: 700;
		@include adaptiv-value("font-size", 18, 12, 1);
		line-height: 119%;
		color: #ffffff;
		transform: translate(0, 50%);
		position: relative;
		z-index: 3;
	}
	// .master__position
	&__position {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include adaptiv-value("width", 275, 179, 1);
		@include adaptiv-value("height", 100, 65, 1);
		@include adaptiv-value("border-radius", 7, 5, 1);
		border: 1px solid $yellowColor;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.84) 0%, rgba(254, 255, 251, 0.5964) 100%);
		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(6px);
		}
		@include adaptiv-value("font-size", 18, 12, 1);
		line-height: 140%;
		text-align: center;

		span {
			font-weight: 700;
			color: #575b5e;
		}
	}
}
.pros {
	max-width: 823px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.44) 0%, #f5f5f5 100%);
	border-radius: 7px;
	display: flex;
	align-items: center;
	@media (max-width: $md3+px) {
		flex-wrap: wrap;
	}
	// .pros__column
	&__column {
		flex: 0 1 33.333%;
		&:not(:last-child) {
			border-right: 0.4px solid rgba(218, 232, 228, 0.9);
		}
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			&:not(:last-child) {
				&:not(:last-child) {
					border-right: none;
					border-bottom: 0.4px solid rgba(218, 232, 228, 0.9);
				}
			}
		}
	}
	// .pros__item
	&__item {
		padding: 28px 14px 23px 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: $md3+px) {
			position: relative;
			text-align: center;
		}
	}
	// .pros__image
	&__image {
		flex: 0 0 85px;
		width: 85px;
		height: 70px;
		margin: 0px 6px 0px 0px;
		&_bigger {
			flex: 0 0 112px;
			width: 112px;
		}
		@media (max-width: $md3+px) {
			flex: 0 0 75px;
			width: 75px;
			height: 45px;
			margin: 0px 13px 0px 0px;
			&_bigger {
				transform: translate(-15px, 0px);
			}
		}
	}
	// .pros__title
	&__title {
		font-size: 16px;
		line-height: 125%;
		color: #575b5e;
		span.pros__tippy {
			position: relative;
			@media (max-width: $md3+px) {
				position: static;
			}
		}
		span.pros__bold {
			font-weight: 700;
		}
		span._tooltip {
			position: absolute;
			right: -25px;
			top: 6px;
			width: 12px;
			height: 12px;
			@media (max-width: $md3+px) {
				@include adaptiv-value("right", 40, 8, 1);
				@include adaptiv-value("top", 20, 8, 1);
				width: 15px;
				height: 15px;
			}
		}
		@media (max-width: $md3+px) {
			flex: 0 0 150px;
		}
	}
}
//========================================================================================================================================================
.panel {
	padding: 13px 0px;
	@media (min-width: $md1+px) {
		display: none;
	}
	// .panel__container
	&__container {
	}
	// .panel__list
	&__list {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		@media (max-width: $md4+px) {
			justify-content: space-between;
		}
	}
	// .panel__item
	&__item {
	}
	// .panel__link
	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .panel__icon
	&__icon {
		display: block;
		width: 36px;
		height: 36px;
		svg {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			fill: #575b5e;
		}
	}
	// .panel__name
	&__name {
		display: block;
		@include adaptiv-value("font-size", 16, 8, 1);
		line-height: 112%;
		color: #575b5e;
		margin: 3px 0px 0px 0px;
	}
}
//========================================================================================================================================================
.interests {
	margin: 84px 0px 0px 0px;
	padding: 22px 0px;
	@media (max-width: 1244px) {
		display: none;
	}
	// .interests__container
	&__container {
	}
	// .interests__row
	&__row {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}
	// .interests__left
	&__left {
		flex: 0 0 50.4%;
		margin: 0px 18px 0px 0px;
		padding: 0px 0px 0px 22px;
	}
	// .interests__right
	&__right {
		flex: 0 0 48.2%;
		padding: 0px 22px 0px 0px;
	}
}
.left {
	&__grid {
		display: grid;
		grid-template-rows: repeat(8, 85px);
		grid-template-columns: 55% 42%;
		row-gap: 18px;
		column-gap: 18px;
	}
	// .left__item
	&__item {
		border-radius: 5px;
		img {
			pointer-events: none;
		}
	}
	// .left__title
	&__title {
		transform: translate(0px, -40px);
		margin: 0px 0px 0px 18px;
	}
}
.right {
	&__grid {
		display: grid;
		grid-template-rows: repeat(8, 85px);
		grid-template-columns: 42% 55%;
		row-gap: 18px;
		column-gap: 18px;
	}
	// .right__item
	&__item {
		border-radius: 5px;
	}
}
.one {
	@media (min-width: 1244px) {
		grid-column: span 2;
		grid-row: span 1;
	}
}
.two {
	@media (min-width: 1244px) {
		grid-column: span 1;
		grid-row: span 4;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: -15px;
			top: 15px;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			border: 1px solid rgba(170, 170, 170, 0.5);
		}
	}
	// .two__abs-image
	&__abs-image {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-17px, -50%);
		width: 100%;
		height: 67%;
		img {
			object-fit: contain;
		}
	}
}
.three {
	overflow: hidden;
	box-shadow: 0px 2px 8px rgba(138, 143, 144, 0.49), 0px 11px 10px -8px rgba(138, 143, 145, 0.8);
	padding: 20px 25px;
	display: flex;
	flex-direction: column;
	@media (min-width: 1244px) {
		grid-column: span 1;
		grid-row: span 3;
		// padding: 20px 25px;
		// display: flex;
		// flex-direction: column;
	}
	// .three__text
	&__text {
		font-weight: 600;
		font-size: 16px;
		line-height: 25px;
		color: #f3f3f3;
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
		align-self: flex-start;
		// @media (min-width: 1244px) {
		// 	flex: 1 1 auto;
		// 	align-self: flex-start;
		// }
	}
	// .three__link
	&__link {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;
		flex: 0 0 30px;
		align-self: flex-end;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: #f3f3f3;
		}
		@media (min-width: 1244px) {
			// flex: 0 0 30px;
			// align-self: flex-end;
		}
	}
	// .three__link-name
	&__link-name {
		font-weight: 600;
		font-size: 20px;
		color: #f3f3f3;
		padding: 0px 7px 0px 0px;
	}
	// .three__icon
	&__icon {
		width: 17px;
		height: 5px;
		svg {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			fill: #f3f3f3;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			svg {
				left: 5px;
			}
		}
	}
}
.four {
	overflow: hidden;
	@media (min-width: 1244px) {
		grid-column: span 1;
		grid-row: span 2;
	}
}
.five {
	overflow: hidden;
	@media (min-width: 1244px) {
		grid-column: span 1;
		grid-row: span 3;
	}
}
.six {
	overflow: hidden;
	@media (min-width: 1244px) {
		grid-column: span 1;
		grid-row: span 2;
	}
}
.seven {
	overflow: hidden;
	@media (min-width: 1244px) {
		grid-column: span 1;
		grid-row: span 2;
	}
}
.eight {
	@media (min-width: 1244px) {
		grid-column: span 1;
		grid-row: span 5;
	}

	// .eight__abs-image
	&__abs-image {
		position: absolute;
		left: 0;
		bottom: 0;
		transform: translate(17px, 0px);
		width: 100%;
		height: 79%;
		img {
			object-fit: contain;
		}
	}
}
.nine {
	@media (min-width: 1244px) {
		grid-column: span 1;
		grid-row: span 3;
	}

	background-color: #f6d491;
	img {
		top: 15px;
		left: 10px;
	}
	box-shadow: 0px 2px 8px rgba(138, 143, 144, 0.49), 0px 11px 10px -8px rgba(138, 143, 145, 0.8);
}
.ten {
	@media (min-width: 1244px) {
		grid-column: span 2;
		grid-row: span 3;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			right: -15px;
			top: 15px;
			width: 73%;
			height: 100%;
			border-radius: 5px;
			border: 1px solid rgba(170, 170, 170, 0.5);
		}
	}

	// .ten__abs-image
	&__abs-image {
		position: absolute;
		right: 11%;
		bottom: 0;
		width: 40%;
		height: 100%;
		img {
			object-fit: contain;
		}
	}
}
.absolute {
	pointer-events: none;
	padding: 0px 15px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	@include adaptiv-value("height", 62, 30, 1);
	font-weight: bold;
	@include adaptiv-value("font-size", 16, 9, 1);
	line-height: math.div(25, 16) * 100%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #f3f3f3;
	border-radius: 0px 0px 5px 5px;
	background: linear-gradient(180deg, rgba(65, 65, 65, 0.45) 0%, rgba(43, 43, 43, 0.9) 100%);
	/* Если браузер поддерживает backdrop-filter */
	@supports ((-webkit-backdrop-filter: blur(26px)) or (backdrop-filter: blur(26px))) {
		background: rgba(65, 65, 65, 0.45);
		backdrop-filter: blur(26px);
	}
	&_start {
		justify-content: flex-start;
		padding: 0px 15px 0px 37px;
	}
}

//========================================================================================================================================================
.adapt {
	@include adaptiv-value("margin-top", 84, 40, 1);
	padding: 22px 0px;
	@media (min-width: 1244px) {
		display: none;
	}
	@media (max-width: $md3+px) {
		display: none;
	}
	// .adapt__container
	&__container {
	}
	// .adapt__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -9px;
	}
	// .adapt__column
	&__column {
		flex: 0 1 33.333%;
		padding: 0px 9px;
		margin: 0px 0px 18px 0px;
	}
	// .adapt__item
	&__item {
		display: block;
		width: 100%;
		padding: 0px 0px 75% 0px;
		height: 100%;
		border-radius: 5px;
		overflow: hidden;
		&_oh {
			overflow: initial;
		}

		&_middle {
			padding: 0px 0px 114% 0px;
		}
		&_green {
			padding: 0px 0px 0px 0px;
			border-radius: 5px;
			overflow: hidden;
			box-shadow: 0px 2px 8px rgba(138, 143, 144, 0.49), 0px 11px 10px -8px rgba(138, 143, 145, 0.8);
		}
		&_high {
			padding: 0px 0px 119% 0px;
		}
		img,
		span {
			pointer-events: none;
		}
	}
	// .adapt__title
	&__title {
		text-align: center;
		margin: 0px 0px 34px 0px;
	}
	// .adapt__case
	&__case {
	}
}
.case {
	position: relative;
	z-index: 2;
	padding: 20px 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	// .case__text
	&__text {
		font-weight: 600;
		font-size: 16px;
		line-height: 25px;
		color: #f3f3f3;
		align-self: flex-start;
		margin: 0px 0px 28px 0px;
	}
	// .case__link
	&__link {
		align-self: flex-end;
		display: inline-flex;
		align-items: center;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: #f3f3f3;
		}
	}
	// .case__link-name
	&__link-name {
		font-weight: 600;
		font-size: 20px;
		color: #f3f3f3;
		padding: 0px 7px 0px 0px;
	}
	// .case__icon
	&__icon {
		width: 17px;
		height: 5px;
		svg {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			fill: #f3f3f3;
		}
	}
}
//========================================================================================================================================================
.mobile {
	@include adaptiv-value("margin-top", 84, 40, 1);
	padding: 22px 0px;
	@media (min-width: $md3+px) {
		display: none;
	}
	// .mobile__container
	&__container {
	}
	// .mobile__title
	&__title {
		text-align: center;
		margin: 0px 0px 34px 0px;
	}
	// .mobile__grid
	&__grid {
	}
}
.grid-mobile {
	display: grid;
	grid-template-rows: 267px 97px 97px 260px 306px 324px 306px;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 12px;
	column-gap: 12px;
	@media (max-width: 640px) {
		grid-template-rows: 232px 84px 84px 226px 266px 282px 266px;
	}
	@media (max-width: $md4+px) {
		grid-template-rows: 174px 63px 63px 169px 199px 211px 199px;
	}
	@media (max-width: 320px) {
		grid-template-rows: 116px 42px 42px 113px 133px 141px 133px;
	}
	// .grid-mobile__item
	&__item {
		img,
		span {
			pointer-events: none;
		}
	}
}
.mobile-five {
	grid-column: span 1;
	grid-row: span 2;
}
.mobile-zero {
	grid-column: span 1;
	grid-row: span 1;
}
.mobile-four {
	grid-column: span 1;
	grid-row: span 2;
}
.mobile-two {
	grid-column: span 1;
	grid-row: span 2;
	// .mobile-two__abs-image
	&__abs-image {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-17px, -50%);
		width: 80%;
		height: 60%;
		img {
			object-fit: contain;
		}
	}
}
.mobile-nine {
	grid-column: span 1;
	grid-row: span 1;
	background-color: #f6d491;
	img {
		top: 15px;
		left: 10px;
	}
	box-shadow: 0px 2px 8px rgba(138, 143, 144, 0.49), 0px 11px 10px -8px rgba(138, 143, 145, 0.8);
}
.mobile-eight {
	grid-column: span 2;
	grid-row: span 1;
}
.mobile-six {
	grid-column: span 1;
	grid-row: span 1;
}
.mobile-seven {
	grid-column: span 1;
	grid-row: span 1;
}
.mobile-ten {
	grid-column: span 2;
	grid-row: span 1;
	overflow: hidden;
}

//========================================================================================================================================================
.details {
	padding: 101px 0px 0px 0px;
	min-height: 936px;
	// .details__container
	&__container {
		position: relative;
		padding: 44px 15px 0px 15px;
		overflow: initial;
	}
	// .details__bg-table
	&__bg-table {
		position: absolute;
		left: -301px;
		top: 318px;
		width: 51.4%;
		padding: 0px 0px 51.4% 0px;
		img {
			object-fit: contain;
		}
		@media (max-width: $md3+px) {
			left: -170px;
			top: 241px;
			width: 108%;
			padding: 0px 0px 97% 0px;
		}
	}
	// .details__bg-main
	&__bg-main {
		position: absolute;
		right: -252px;
		top: 56px;
		width: 91.25%;
		padding: 0px 0px 63% 0px;
		img {
			object-fit: contain;
		}
		@media (max-width: $md1+px) {
			right: -147px;
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	// .details__dot
	&__dot {
		position: absolute;
		width: 50px;
		height: 50px;
		cursor: pointer;
		z-index: 4;
		&_01 {
			left: 30%;
			top: 26%;
		}
		&_02 {
			left: 49%;
			top: 71%;
		}
		&_03 {
			left: 36%;
			top: 58%;
		}
		&_04 {
			left: 20%;
			top: 59%;
		}
		&_05 {
			left: 15%;
			top: 72%;
		}
		&_06 {
			left: 35%;
			top: 69%;
		}
		&_07 {
			left: 52%;
			top: 23%;
		}
		&_08 {
			left: 40%;
			top: 40%;
		}
		&_09 {
			left: 43%;
			top: 50%;
		}
		&_10 {
			left: 64%;
			top: 51%;
		}
		&_11 {
			left: 57%;
			top: 43%;
		}
		img {
			object-fit: contain;
		}
	}
	// .details__title
	&__title {
		@include adaptiv-value("margin-bottom", 65, 31, 1);
		text-align: center;
	}
	// .details__tabs-block
	&__tabs-block {
	}
	// .details__spoller
	&__spoller {
	}
	@media (max-width: $md1+px) {
		padding: 0px 0px 66px 0px;
		min-height: auto;
	}
}
.tabs-block {
	max-width: 1076px;
	max-height: 529px;
	display: flex;
	position: relative;
	z-index: 3;
	margin: 0px 0px 0px 105px;
	// .tabs-block__decor
	&__decor {
		flex: 0 0 289px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: -8px;
			top: -8px;
			width: 78%;
			height: 88%;
			border: 1px solid rgba(170, 170, 170, 0.5);
			z-index: -1;
		}
	}
	// .tabs-block__nav
	&__nav {
		height: 100%;
		padding: 28px 16px 30px 35px;
		overflow: auto;
		background-color: #fcfcfc;
	}
	// .tabs-block__item
	&__item {
		font-size: 14px;
		line-height: 113%;
		color: #525252;
		position: relative;
		z-index: 2;
		&:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}
	}
	// .tabs-block__body
	&__body {
		flex: 1 1 auto;
	}
	// .tabs-block__block
	&__block {
	}
	@media (max-width: $md1+px) {
		margin: 0px 0px 0px 0px;
	}
	@media (max-width: $md3+px) {
		display: none;
	}
}
.block {
	height: 100%;
	background: #fff;
	opacity: 0.95;
	border: 0.5px solid #717275;
	border-radius: 0px 4px 4px 0px;
	// .block__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	// .block__up
	&__up {
		flex: 0 0 44px;
		display: flex;
		align-items: center;
		background: linear-gradient(180deg, #f5d89f 0%, #ddb15c 100%);
		opacity: 0.9;
	}
	// .block__title
	&__title {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 113%;
		height: 44px;
		color: #575b5e;
		text-align: center;
	}
	// .block__close-icon
	&__close-icon {
		flex: 0 0 25px;
		width: 25px;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #575b5e;
		opacity: 0.9;
		border: 0.260417px solid #717275;
		border-radius: 0px 2px 0px 0px;
		// position: relative;
		// z-index: 6;
		svg {
			display: block;
			width: 11px;
			height: 11px;
			object-fit: cover;
			fill: #fff;
			pointer-events: none;
		}
	}
	// .block__down
	&__down {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		max-height: 485px;
		overflow: auto;
		padding: 27px 27px 43px 33px;
	}
	// .block__content
	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		p {
			font-size: 14px;
			line-height: 110%;
			&:not(:last-child) {
				margin: 0px 0px 16px 0px;
			}
			&:last-child {
				margin: 0px 0px 40px 0px;
			}
		}
	}
	// .block__close
	&__close {
		flex: 0 0 27px;
		align-self: center;
		display: inline-flex;
		padding: 0px 47px;
		background-color: transparent;
		border-radius: 17.5px;
		border: 0.5px solid #525252;
		font-size: 10px;
		color: #525252;
		min-height: 27px;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: linear-gradient(180deg, #f5d89f 0%, #ddb15c 100%);
			}
		}
	}
}

//========================================================================================================================================================
.spoller-details {
	@media (min-width: $md3+px) {
		display: none;
	}
	position: relative;
	z-index: 4;
	background-color: #fcfcfc;
	// .spoller-details__list
	&__list {
	}
	// .spoller-details__item
	&__item {
	}
	// .spoller-details__btn
	&__btn {
	}
	// .spoller-details__content
	&__content {
		padding: 27px 27px 43px 33px;
		border: 1px solid #e9e9e9;
		background-color: #fff;
		p {
			font-size: 14px;
			line-height: 110%;
			&:not(:last-child) {
				margin: 0px 0px 16px 0px;
			}
		}
		@media (max-width: $md4+px) {
			padding: 27px 15px 43px 15px;
		}
	}
}
.btn-spoller {
	padding: 20px 18px 20px 25px;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: transparent;
	border: 1px solid #e9e9e9;
	&:not(:last-child) {
	}
	// .btn-spoller__name
	&__name {
		flex: 1 1 auto;
		margin: 0px 15px 0px 0px;
		font-size: 14px;
		line-height: 113%;
		color: #525252;
	}
	// .btn-spoller__icon
	&__icon {
		flex: 0 0 9px;
		width: 9px;
		height: 8px;
		svg {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.btn-spoller._active {
	.btn-spoller__icon {
		svg {
			transform: rotate(-180deg);
		}
	}
}
//========================================================================================================================================================
.catalog {
	padding: 64px 0px 0px 0px;
	// .catalog__container
	&__container {
	}
	// .catalog__title
	&__title {
		text-align: center;
		margin: 0px 0px 33px 0px;
	}
	// .catalog__streamer
	&__streamer {
		margin: 0px 0px 12px 0px;
	}
}
.streamer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// .streamer__filters-reset
	&__filters-reset {
		flex: 0 0 218px;
		font-size: 16px;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #43474a;
		border: 1px solid #575b5e;
		border-radius: 17.5px;
		margin: 0px 15px 0px 0px;
		display: inline-flex;
		padding: 0px 15px;
		background-color: #fff;
		height: 35px;
		align-items: center;
		justify-content: center;
		text-align: center;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $yellowColor;
			}
		}
	}
	// .streamer__founded
	&__founded {
		margin: 0px 15px 0px 0px;
	}
	// .streamer__filter-sort
	&__filter-sort {
		font-size: 16px;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #43474a;
		margin: 0px 15px 0px 0px;
	}
	// .streamer__filter-label
	&__filter-label {
	}
	// .streamer__filter-view
	&__filter-view {
		font-size: 16px;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #43474a;
		margin: 0px 15px 0px 0px;
	}
	// .streamer__search
	&__search {
	}
}
.founded {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 110%;
	letter-spacing: 0.02em;
	color: #43474a;
	// .founded__text
	&__text {
		margin: 0px 5px 0px 0px;
	}
	// .founded__qty
	&__qty {
		color: #1db28f;
	}
}
.search-streamer {
	flex: 0 0 234px;
	// .search-streamer__item
	&__item {
		display: flex;
		align-items: center;
	}
	// .search-streamer__input
	&__input {
		width: 100%;
		height: 35px;
		padding: 0px 15px 0px 24px;
		background: #fff;
		font-size: 12px;
		line-height: 113%;
		color: #525252;
		border-radius: 1px;
		border: 1px solid $yellowColor;
	}
	// .search-streamer__btn
	&__btn {
		flex: 0 0 39px;
		height: 35px;
		background: linear-gradient(180deg, #f5d89f 0%, #ddb15c 100%);
		border-radius: 1px;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			display: block;
			width: 16px;
			height: 16px;
			fill: #fff;
		}
	}
}
//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

.next {
	height: 600px;
	background-color: pink;
}
