.pagging {
	display: flex;
	align-items: center;
	justify-content: center;
	// .pagging__arrow
	&__arrow {
		margin: 0px 10px;
		&_start,
		&_end {
			width: 14px;
			height: 9px;
			margin: 0px 20px;
		}
		&_start {
			transform: rotate(-180deg);
			opacity: 0;
			visibility: hidden;
		}

		&_left,
		&_right {
			width: 9px;
			height: 9px;
		}
		&_left {
			transform: rotate(90deg);
			opacity: 0;
			visibility: hidden;
		}
		&_right {
			transform: rotate(-90deg);
		}
		svg {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .pagging__list
	&__list {
		display: flex;
		li {
		}
	}
	// .pagging__item
	&__item {
		width: 33px;
		height: 31px;
		display: flex;
		font-size: 16px;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #575b5e;
		justify-content: center;
		align-items: center;
		margin: 0px 10px;
		transition: all 0.3s ease 0s;
		&._active {
			color: #fff;
			background-color: $yellowColor;
		}
	}
}
