<h3 class="contacts__subtitle">
	Главный офис
	<span class="tooltip">
		<button class="tooltip__btn" aria-describedby="office" aria-label="Описание адреса">
			<svg>
				<use xlink:href="img/sprite.svg#tooltip"></use>
				<!-- это была иконка знака вопроса -->
			</svg>
		</button>
		<span class="tooltip__txt" role="tooltip" id="office">
			<span class="visually-hidden">Тултип: </span>
			<!--с этим классом class="visually-hidden" не будет отображаться span -->
			Адрес и телефон для корреспонденции, инвесторов. Вопросы о доставке, качестве обслуживания и товара
			просьба задавать в отдел продаж
		</span>
	</span>
</h3>